<div class="modal-overlay">
  <div class="modal change-password-modal">
    <h3>Modifier mon mot de passe</h3>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="currentPassword">Mot de passe actuel</label>
        <input
          id="currentPassword"
          name="currentPassword"
          type="password"
          [(ngModel)]="currentPassword"
          required
          autocomplete="current-password"
        />
      </div>
      <div class="form-group">
        <label for="newPassword">Nouveau mot de passe</label>
        <input
          id="newPassword"
          name="newPassword"
          type="password"
          [ngModel]="newPassword"
          (input)="onNewPasswordInput($event)"
          required
          autocomplete="new-password"
        />
      </div>
      <div class="form-group">
        <label for="confirmNewPassword"
          >Confirmer le nouveau mot de passe</label
        >
        <input
          id="confirmNewPassword"
          name="confirmNewPassword"
          type="password"
          [(ngModel)]="confirmNewPassword"
          required
          autocomplete="new-password"
        />
      </div>
      <ul class="password-criteria-list">
        @for (crit of passwordCriteriaList; track crit.label) {
          <li [class.valid]="crit.valid" [class.invalid]="!crit.valid">
            <span class="icon-check" *ngIf="crit.valid">✔</span>
            <span class="icon-cross" *ngIf="!crit.valid">✖</span>
            {{ crit.label }}
          </li>
        }
      </ul>
      @if (
        newPassword && confirmNewPassword && newPassword !== confirmNewPassword
      ) {
        <div class="error-message">Les mots de passe diffèrent.</div>
      }
      @if (passwordError && !passwordLoading) {
        <div class="error-message">{{ passwordError }}</div>
      }
      <div class="modal-actions">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="passwordLoading"
        >
          @if (!passwordLoading) {
            Valider
          }
          @if (passwordLoading) {
            Chargement...
          }
        </button>
        <button type="button" class="btn btn-cancel" (click)="close.emit()">
          Annuler
        </button>
      </div>
    </form>
  </div>
</div>
