:root {
  --color-bg: #f7f7f7;
  --color-card: #f3f3f3;
  --color-primary: #222;
  --color-secondary: #444;
  --color-accent: #e67e22;
  --color-error: #d32f2f;
  --color-white: #fff;
  --color-footer: #666;
}

/* :root {
  /* Couleurs principales */
  --color-primary: #a06a2d; /* Ambre whisky */
  --color-primary-dark: #774c1b; /* Variante foncée pour hover, boutons */

  /* Couleur secondaire */
  --color-secondary: #ede4d3; /* Beige clair, doux et élégant */
  --color-secondary-dark: #cfc2ae;

  /* Texte */
  --color-text: #2c2c2c; /* Gris presque noir */
  --color-muted: #6e6e6e; /* Texte secondaire */
  --color-light: #ffffff;

  /* Fond */
  --color-background: #faf9f6; /* Presque blanc, légèrement ivoire */
  --color-surface: #ffffff; /* Pour les cartes/blocs */

  /* Accent */
  --color-accent: #c85000; /* Touche d'orange ambrée */
  --color-accent-hover: #a64300;

  /* État */
  --color-success: #3e7c47;
  --color-error: #b03e3e;
} */
