/* Import des variables personnalisées */
@use "styles/variables.scss" as vars;

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

/* Typo */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-top: 0;
}

p,
span,
div,
button,
input,
select,
textarea {
  font-weight: 400;
}

button,
.btn,
a.btn,
input[type="button"],
input[type="submit"] {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
